<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org/DTD Mapper 3.0//EN" 
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hb0712.discovery.mapper.LabelMapper">
	<select id="list" resultType="Label">
		select * from label
	</select>
	
	<insert id="addLabelImage">
		insert into label_image (`label_id`,`image_id`) value (#{label_id}, #{image_id})
	</insert>
</mapper>